.svelte-kit
.vscode
.husky
.git
cli
node_modules
.env
.env.*
README.md
*.lock
!bun.lock
.gitignore
.npmrc
.prettierignore
.prettierrc
docker-compose.yaml
docker-compose.*.yaml
Dockerfile
eslint.config.js
tsconfig.json
build
pg_data
assets
